nav{
  background-color: #444444;
  position: fixed;
  top: 0px;
  z-index: 5
}

body{
  background-color: black;
  color:white;
}

.brand-logo + .dropdown-button{
  position: relative;
  left: 150px;
}

.dropdown-content{
  top: 65px!important;
}


.carousel.carousel-slider{
    margin: 20px auto;
    height: 260px!important;
    width: 100% !important;
}

div.carousel-item{
    margin: auto;
    top: 60px!important;
    width: 215px!important;
    height: 200px!important;
}

.carousel.csl{
    margin: 20px auto;
    height: 420px!important;
    width: 100% !important;
}

.carousel-item.cil{
    margin: auto;
    top: 10px!important;
    width: 215px!important
}

.badge{
  position: relative!important;
  bottom: 75px;
  left: 18px;
  min-width: unset!important;
}

a.dropdown-button{
  min-width: 75px!important;
  height: 64px
}

.table-of-contents.dropdown-content{
  width: 150px!important; 
}

#espacio{
  height: 65px;
}

/**
.img:hover{
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2)
}*/

ul{}

li{}

h2{}


.collection-item{}

.collection-item:hover{}

.text{}


